<!DOCTYPE html>
<html>
  <head>
    <title>Search GitHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <h4>Search GitHub</h4>
      </div>
      <div class='row'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
